* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    background-color: white;
    color: white;

}

h5 {
    font-size: 40px;
}
.header {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 0, 0);
    position: fixed;
    display: flex;
    z-index: 1;
    align-items: center;
    box-shadow: 0 0 10px rgba(105, 0, 0, 0.322);
    padding: 0 20px;
}
.navbar {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    background-color: rgb(255, 0, 0);
}
.navbarb{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
}
.navbar li {
    margin-right: 20px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}


.navbar a:hover {
    color: #9f160b;
    /* Cor ao passar o mouse */
}
.logo {
    width: 80px;
    /* Ajuste conforme necessário */
    height: auto;
    /* Manter a proporção */
    margin-right: 20px;
}
.banner {
    display: flex;
    align-items: flex-end;
    padding: 110px 20px 100px 20px;
    background-color: black;
}
.bem-vindo{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;

    background-color: blue;
}
.letra {
    background-color: aqua;
    height: 30%;
    width: 50%;

    position:fixed;
    }
/* .moto2{
    height: 25%;
    width: 25%;
    position: relative;

} */